
body {
  background: rgb(145, 136, 121);
}

nav#page-heading {
  text-align: center;
  margin: 25px;
}

nav#page-heading ul {
  display: inline-block;
  vertical-align: center;
}

nav#page-heading ul li {
  display: inline-block;
  line-height: 40px;
}

h2 {
  display: inline-block;
  font-family: 'dosis', 'Nunito Sans', sans-serif;
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 10px 35px;
}

table {
  font-family: 'Nunito Sans', Geneva, Tahoma, sans-serif;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto; 
  /* padding: 50px; */
}

td {
  font-family: 'Nunito Sans', Geneva, Tahoma, sans-serif;
  padding:  5px 2px;
  border-radius: 5px;
  border: 1px solid rgb(84, 93, 119);
  margin: 10px;
  background: white;
  text-align: center;
  vertical-align: middle;
  width: 56px;
  height: 20px;
}

td:first-child {
  width: 120px;
}

td:last-child {
  width: 70px;
}

th {
  background: rgb(175, 103, 74);
  color: white;
  empty-cells: hide;
  padding: 5px 2px;
  font-size: 14px;
  border: 1px solid rgb(84, 93, 119);
  vertical-align: middle;
}

fieldset {
  margin-top: 20px;
  margin-left: 350px;
  margin-right: auto;
  display: inline-block;
  padding: 15px;
  /* width: 500px; */
  
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: 1px;
  border-style: none;
  border-color: white;
  border-image: none;
}

label {
  float: left;
  clear: right;
}

input {
  margin: 6px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  text-align: center;
  -webkit-box-align: end;
  font-size: 15px;
  float: left;
  clear: both;
}

form {
  font-family: 'Nunito Sans', 'Open Sans Condensed',sans-serif;
  color: white;
  overflow: hidden;
}

button {
  margin-top: 10px;
  padding: 6px;
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  float: right;
}

.fishy {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

#right-fishy {
  margin-right: auto;
  transform: scaleX(-1);
}

#left-fishy:hover {
  transform: scaleY(-1);
  transition: 2000ms;
}

#right-fishy:hover {
  transform: scaleX(1);
  transition: 2000ms;
}

td:last-child, tr:last-child {
  font-weight: bolder;
}


tr:last-child > td:last-child {
  color: rgb(255, 255, 255);
  background: rgb(122, 116, 89);
}

td:hover {
  background: rgb(105, 101, 101);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-style: italic;
}

tr:last-child {
  background: rgb(134, 77, 77);
}

tr:hover {
  background: rgb(165, 126, 126);
}

